BOT_TOKEN=123456:telegram-token
DATABASE_URL=postgresql://user:password@host:5432/dbname
TIMEZONE=Asia/Ho_Chi_Minh
PORT=3000
# WEBHOOK_URL=https://your-app.fly.dev
# KEEP_AWAKE_URL=https://your-app.fly.dev/health
# ADMIN_TELEGRAM_IDS=123456789,987654321
# API_SECRET=your-random-secret-key
LOG_LEVEL=info
NODE_ENV=development #production
